#projects {
    font-size: 2em;
}
.navbar-nav .nav-item .nav-link:hover {
    color: rgb(66, 112, 141);
}
h1, h2 {
    color: rgb(66, 112, 141);
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body {
        background-color: #f4f4f4;
    }

    header, main, footer {
        background-color: #fff;
        margin: 10px;
    }

    .navbar-toggler {
        background-color: #007bff; 
    }

    .navbar-nav {
        margin-top: 10px;
    }

    .nav-item {
        text-align: center;
    }

    h1, h2, h5, p {
        text-align: center;
    }
    .footer {
        text-align: center;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        background-color: #e0e0e0;
    }

    header, main, footer {
        background-color: #fff;
        margin: 20px;
    }

    .navbar-toggler {
        background-color: #ffffff; 
    }

    h1, h2, h5, p {
        text-align: left;
    }

    .footer {
        text-align: center;
    }
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        background-color: #f1f1f1;
    }

    header, main, footer {
        background-color: #fff;
        margin: 30px;
    }
}
.footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}
